<h1>Examples of Pizza</h1><br>
<%= link_to 'Ask Cam About A New Pizza', questionable_pizzas_ask_cam_url %><br>
<% if @questionable_pizzas.length > 0 && @questionable_pizzas.first.client_ip != nil %>
    <h1>Looking for a ddos target? Try out this ip: <%= @questionable_pizzas.first.client_ip %></h1><br>
<% end %>
<%= render @questionable_pizzas %>